.blog {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20px;
}

.author {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tag {
    display: flex;
    gap: 15px;
}


