.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 60px;
}

.logo {
    width: 110px;
}

.link {
    display: flex;
    gap: 55px;
}

.moon {
    width: 20px;
}


